/* This file is for your main application CSS */
@import './bootstrap.css';

html, body {
	background-color: #f8f9fa;
}

.alert:empty {
	display: none;
}

.navbar {
	border-bottom: 1px solid #dfdfdf;
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 999;
	top: 0;
}

.section {
	position: relative;
	top: 60px;
}

.form-login {
	width: 100%;
	max-width: 630px;
	padding: 15px;
	margin: auto;
	text-align: center;
}

.sidebar {
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 999;
	height: 100%;
	border-right: 1px solid #dfdfdf;
}

.link:hover, i:hover {
	color: #0d6efd !important;
} 

.nav-link {
	border-radius: 0 !important;
}

.nav-link.active {
	border-right: 3px solid #0d6efd !important;
	background: inherit !important;
}

select, option {
	text-transform: capitalize !important;
}

.highcharts-background {
	fill: #f8f9fa !important;
}