/* This file is for your main application CSS */
@import './bootstrap.css';

html, body {
	background-color: #f8f9fa;
}

.alert:empty {
	display: none;
}

.navbar {
	border-bottom: 1px solid #dfdfdf;
}

.section {
	height: 20vh;
}

.section-lg {
	height: 60vh;
}