<section class="section-lg d-flex justify-content-center align-items-center">
    <h1 class="text-dark">
        <a href="https://www.kemet.com/en/us.html" class="kemet-logo navbar-brand">
            <img src={Routes.static_path(@conn, "/images/kemet.png")} alt="Kemet Logo" width="300px"/>
        </a>
    </h1>
</section>