<h1>Show Employee</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @employee.name %>
  </li>

  <li>
    <strong>Lastname:</strong>
    <%= @employee.lastname %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @employee.age %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @employee.active %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.employee_path(@conn, :edit, @employee) %></span> |
<span><%= link "Back", to: Routes.employee_path(@conn, :index) %></span>
